@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans');

.App {
  text-align: center;
}

.App-footer {
  min-height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #0066cc;
  font-size: calc(10px + 2vmin);
  font-family: 'Lilita One', cursive;
  border-top: 1px solid  #1aa3a3;
  color: #e59116;
}

.App-header {
  background-color: #0066cc;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid  #1aa3a3;
  font-size: calc(15px + 2vmin);
  font-family: 'Lilita One', cursive;
  color: #e59116;
}

.cardItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans';
}

.items {
  margin: 0;
  padding: 30px;
  color: #333333;
  text-align: center;
}

.items:hover {
  border: 1px solid #333333;
  margin: 0;
}

.row {
  display: flex;
}

.row_cell {
  flex: 1;
  margin: 5px;
}

.tags {
  width: 50vw;
  margin: 10px;
  padding: 30px;
  background: #0066cc;
  color: #d2d2d2;
  font-size: 1.5em;
  text-align: center;
}

.title {
  color: #e59116;
  font-size: 2.0em;
}
